$stopwatch-size: 80vmin;
$stopwatch-border-width: 1vmin;
$stopwatch-border-color: #000;
$stopwatch-center-diameter: 5vmin;
$stopwatch-center-color: #f6a603;
$minutes-hand-length: 20vmin;
$minutes-hand-width: 3vmin;
$minutes-hand-color: #0700ff;
$seconds-hand-length: 38vmin;
$seconds-hand-width: 1.5vmin;
$seconds-hand-color: #2c8000;
